<footer class="footer">

  <div class="footer-content">

    <div class="footer-main-row">

      <!-- =========================================
           FOOTER LINK COLUMNS
      ========================================== -->
      <div class="footer-links-area">

        <div class="footer-links-grid">

          @for (section of footerSections; track $index) {

            <div class="footer-column">

              <!-- MULTI-SECTION COLUMN -->
              @if (section.isMultiSection) {

                @for (sub of section.subSections; track sub.subHeading) {

                  <h5 class="footer-heading">
                    {{ sub.subHeading }}
                  </h5>

                  <ul class="footer-links">

                    @for (link of sub.links; track link.label) {

                      <li>
                        <a
                          [href]="link.url"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {{ link.label }}
                        </a>
                      </li>

                    }

                  </ul>

                }

              }

              <!-- NORMAL COLUMN -->
              @else {

                <h5 class="footer-heading">
                  {{ section.heading }}
                </h5>

                <ul class="footer-links">

                  @for (link of section.links; track link.label) {

                    <li>
                      <a
                        [href]="link.url"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        {{ link.label }}
                      </a>
                    </li>

                  }

                </ul>

              }

            </div>

          }

        </div>

      </div>


      <!-- =========================================
           SUBSCRIPTION AREA
      ========================================== -->
      <div class="subscribe-column">

        <h5 class="footer-heading subscribe-heading">
          Subscribe to our special offers
        </h5>

        <form
          class="subscribe-form"
          (ngSubmit)="onSubscribe()"
        >

          <!-- EMAIL -->
          <div class="footer-input-box">

            <label
              class="footer-input-label"
              for="footerEmail"
            >

              <img
                src="https://www.srilankan.com/images/ic_baseline-mail.svg"
                alt="Email"
              >

              <span>
                Email
              </span>

            </label>

            <input
              id="footerEmail"
              type="email"
              name="email"
              [(ngModel)]="email"
              placeholder="Enter email address"
              required
            >

          </div>


          <!-- DEPARTURE CITY -->
          <div class="footer-input-box">

            <label
              class="footer-input-label"
              for="departureCity"
            >

              <img
                src="https://www.srilankan.com/images/mdi_city.svg"
                alt="Departure City"
              >

              <span>
                Departure City
              </span>

            </label>

            <input
              id="departureCity"
              type="text"
              name="departureCity"
              [(ngModel)]="departureCity"
              placeholder="Select departure city"
            >

          </div>


          <!-- PROMOTIONAL CONSENT -->
          <label class="promo-checkbox">

            <input
              type="checkbox"
              name="promoConsent"
              [(ngModel)]="promoConsent"
            >

            <span>
              Yes, I would like to receive promotional content from
              SriLankan Airlines
            </span>

          </label>


          <!-- SUBSCRIBE BUTTON -->
          <button
            type="submit"
            class="btn-subscribe"
          >
            Subscribe
          </button>

        </form>

      </div>

    </div>


    <!-- =========================================
         SOCIAL MEDIA
    ========================================== -->
    <div class="footer-socials">

      <h5 class="footer-heading socials-heading">
        Follow us
      </h5>

      <div class="social-links">

        @for (social of socialLinks; track social.iconClass) {

          <a
            [href]="social.url"
            target="_blank"
            rel="noopener noreferrer"
            [attr.aria-label]="social.label"
            [title]="social.label"
          >
            <i [className]="social.iconClass"></i>
          </a>

        }

      </div>

    </div>

  </div>


  <!-- =========================================
       WHITE COPYRIGHT BAR
  ========================================== -->
  <div class="footer-bottom">

    <div class="footer-bottom-copyright">

      Copyright © 2026 SriLankan IT Systems.
      All rights reserved.

    </div>


    <div class="footer-bottom-links">

      <a href="#">
        Privacy Policy
      </a>

      <a href="#">
        Cookie Policy
      </a>

      <a href="#">
        Legal Notice
      </a>

    </div>

  </div>

</footer>